---
services:
  rabbitmq:
    image: rabbitmq:3.10.7-management
    container_name: rabbitmq
    hostname: rabbitmq
    restart: always
    env_file:
      - ../secrets/rabbitmq_vault.env
    ports:
      - '15672:15672'
      - '5672:5672'
    volumes:
      - ./rabbitmq:/var/lib/rabbitmq

  noip_duc:
    image: 'ghcr.io/noipcom/noip-duc:latest'
    container_name: noip
    restart: unless-stopped
    env_file:
      - ../secrets/no_ip_vault.env

  nginx_proxy:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    container_name: nginx
    depends_on:
      - webapp
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - ./data:/data

  webapp:
    container_name: webapp
    build: ../webapp
    depends_on:
      - rabbitmq
    volumes:
      - ./../db/:/app/db
    ports:
      - '8000:8000'
    environment:
      WEBAPP_PORT: 8000
    env_file:
      - ../secrets/webapp_vault.env

  bot:
    container_name: bot
    build: ../bot
    depends_on:
      - rabbitmq
      - webapp
    volumes:
      - ./../db/:/app/db
    env_file:
      - ../secrets/bot_vault.env