<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Комплектация аптечки</title>
</head>
<body>

<strong>Материалы на случай травматизма:</strong>
<ul>
  <li>стерильный бинт;
  <li>эластичный бинт (используется при ушибах, при наложении компрессов);
  <li>вата;
  <li>набор разных пластырей (пригодятся при порезах, ссадинах);
  <li>перекись водорода или хлоргексидин (для обработки ран);
  <li>спирт (для обработки рук, дезинфекции предметов);
  <li>йод, раствор бриллиантового зеленого (“зеленка”) или бетадин (для дезинфекции ран);
  <li>пантенол (при ожогах).
</ul>

<br>

<strong>Лекарства на случай кишечной инфекции или отравления:</strong>
<ul>
  <li>регидрон (для восстановления водно-солевого баланса, при обезвоживании);
  <li>сорбенты (энтеросгель, полисорб, активированный уголь – выберите что-то одно. Они помогают выводить токсины из организма, применяются также при аллергиях);
  <li>средства от диареи (энтерофурил, смекта или энтерол – необязательно покупать все и сразу).
</ul>

<br>

<strong>Обезболивающие:</strong>
<ul>
  <li>но-шпа или спазмалгон (если прихватил живот);
  <li>обезболивающие широкого спектра действия (например, кетанов, нурофен, темпалгин);
  <li>мази (например, диклофенак – при мышечных болях).
</ul>

<br>

<strong>Жаропонижающие:</strong>
<ul>
  <li>парацетамол;
  <li>ибупрофен;
  <li>нимесулид.
</ul>

<br>

<strong>Дополнительно:</strong>
<ul>
  <li>сосудосуживающие капли в нос (с оксиметазолином);
  <li>средства от боли в горле (мирамистин, таблетки с антисептиком);
  <li>физраствор для промывания носа.
</ul>

<br>
<strong>Антигистаминные препараты:</strong>
<ul>
  <li>супрастин;
  <li>тавегил;
  <li>кларитин.
</ul>

<br>

<strong>Медицинские приборы:</strong>
<ul>
  <li>градусник;
  <li>тонометр.
</ul>

</body>
</html>