<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table_item_slider.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_drug.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/drug_description.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/corousel.css')}}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"
            integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="https://telegram.org/js/telegram-web-app.js"></script>

    <script src="{{ url_for('static', filename='js/constants.js')}}"></script>
    <script src="{{ url_for('static', filename='js/index.js')}}"></script>
    <script src="{{ url_for('static', filename='js/touch_slider.js')}}"></script>
    <script src="{{ url_for('static', filename='js/corousel.js')}}"></script>
    <script src="{{ url_for('static', filename='js/add_drug.js')}}"></script>
    <script src="{{ url_for('static', filename='js/iscroll.js')}}"></script>

</head>

<body>

<div id="content">
    <ul id="non_expired" class="accordion arrows">
        <input type="radio" name="accordion" id="acc_close_non_expired"/>
    </ul>

    <ul id="expired" class="accordion arrows">
        <input type="radio" name="accordion" id="acc_close_expired"/>
    </ul>
</div>

<div id="box">

</div>

<input type="radio" id="one" name="buttons" checked onclick="switch_tab(NON_EXPIRED);">
<input type="radio" id="two" name="buttons" onclick="switch_tab(EXPIRED);">
<label for="one" class="icons non_expired">
    <span class="glyphicon glyphicon-plus-sign"></span>
</label>
<label for="two" class="icons expired">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
</label>

<div id="body">

</div>

<div class="context_panel" id="add_drug_panel">
    <input type="radio" id="btnAddDrug" onclick="open_drug_window()"/>
    <label for="btnAddDrug" class="context_btn" id="iconAddDrug"><span class="glyphicon glyphicon-plus"></span></label>
</div>

<div id="control_panel">
    <div id="dialogAddDrug" class="closed">
        <section id="top_sect" class="second">
            <div class="drug_name_panel">
                <input id="medicine_name"
                       class="form-control"
                       data-i18n-key="name_of_drug"
                       placeholder="Name of the medicine"/>
            </div>

            <div class="panel">
                <div id="years_carousel"
                     class="carousel"
                     data-flickity='{ "wrapAround": true }'>
                </div>
            </div>

            <div class="panel">
                <div id="months_carousel"
                     class="carousel"
                     data-flickity='{ "wrapAround": true }'>
                </div>
            </div>

            <div class="control_panel">
                <button id="btnAdd" onclick="add_drug()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="rgb(97, 218, 157)"
                         class="bi bi-check-lg" viewBox="0 0 16 16">
                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                    </svg>
                </button>
            </div>
        </section>
    </div>
</div>

<span class="title non_expired" data-i18n-key="non_expired">Non-expired</span>
<span class="title expired" data-i18n-key="expired">Expired</span>

<div class="border"></div>
<div class="effect"></div>

</body>

<script>
    add_years();
    add_months();

    set_update_drugs_candidates_url('{{ url_for("edit") }}');
    set_add_drug_url('{{ url_for("add_drug") }}');
    set_del_drug_url('{{ url_for("del_non_expired_drug") }}');
    set_del_expired_drug_url('{{ url_for("del_expired_drug") }}');
    set_get_non_expired_url("{{ url_for('non_expired_drugs') }}");
    set_get_expired_url("{{ url_for('expired_drugs') }}");

    const translations = {
        "en": {
            "non_expired": "Non-expired",
            "expired": "Expired",
            "name_of_drug": "Name of the medicine",
            'January': 'January',
            'February': 'February',
            'March': 'March',
            'April': 'April',
            'May': 'May',
            'June': 'June',
            'July': 'July',
            'August': 'August',
            'September': 'September',
            'October': 'October',
            'November': 'November',
            'December': 'December',
        },
        "ru": {
            "non_expired": "Лекарства",
            "expired": "Просроченные",
            "name_of_drug": "Название лекарства",
            'January': 'Январь',
            'February': 'Февраль',
            'March': 'Март',
            'April': 'Апрель',
            'May': 'Май',
            'June': 'Июнь',
            'July': 'Июль',
            'August': 'Август',
            'September': 'Сентябрь',
            'October': 'Октябрь',
            'November': 'Ноябрь',
            'December': 'Декабрь',
        },
    };

    function translateElement(element) {
        const key = element.getAttribute("data-i18n-key");
        const translation = translations[userLanguage][key];
        if (translation === undefined) {
            return;
        }
        if (element.placeholder) {
            element.placeholder = translation;
        } else {
            element.innerText = translation;
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        switch_tab(NON_EXPIRED);
        document.querySelectorAll("[data-i18n-key]").forEach(translateElement);
    });
    close_transition_end();
</script>

</html>