<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table_item_slider.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_drug.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/drug_description.css')}}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"
            integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="{{ url_for('static', filename='js/index.js')}}"></script>
    <script src="{{ url_for('static', filename='js/touch_slider.js')}}"></script>
    <script src="{{ url_for('static', filename='js/add_drug.js')}}"></script>
    <script src="{{ url_for('static', filename='js/iscroll.js')}}"></script>

</head>

<body>

<div id="content">
    <ul id="non_expired" class="accordion arrows">
        <input type="radio" name="accordion" id="acc-close"/>
    </ul>

    <ul id="expired" class="accordion arrows">
        <input type="radio" name="accordion" id="acc-close-expired"/>
    </ul>
</div>

<div id="box">

</div>

<input type="radio" id="one" name="buttons" checked onclick="updateValue(0);">
<input type="radio" id="two" name="buttons" onclick="updateValue(1);">
<label for="one" class="icons non_expired"><span class="glyphicon glyphicon-plus-sign"></span></label>
<label for="two" class="icons expired"><span class="glyphicon glyphicon-exclamation-sign"></span></label>

<div id="body">

</div>

<div class="context_panel" id="add_drug_panel">
    <input type="radio" id="btnAddDrug" onclick="open_drug_window()"/>
    <label for="btnAddDrug" class="context_btn" id="iconAddDrug"><span class="glyphicon glyphicon-plus"></span></label>
</div>

<div class="context_panel" id="buy_drug_panel" hidden>
    <input type="radio" id="btnBuyDrug"/>
    <label for="btnBuyDrug" class="context_btn" id="iconBuyDrug"><span class="glyphicon glyphicon-ruble"></span></label>
</div>

<div id="control_panel">
    <div id="dialogAddDrug" class="closed">
        <section id="top_sect" class="second">
            <div class="drug_name_panel">
                <input id="medicine_name" class="form-control" placeholder="Enter the name of the medicine"/>
            </div>

            <div class="panel">
                <div id="years_carousel" class="carousel"
                     data-flickity='{ "wrapAround": true }'>
                </div>
            </div>

            <div class="panel">
                <div id="months_carousel" class="carousel"
                     data-flickity='{ "wrapAround": true }'>
                </div>
            </div>

            <div class="control_panel">
                <button id="btnAdd" type="button" onclick="add_drug()">Add</button>
            </div>
        </section>
    </div>
</div>

<span class="title non_expired">Non-expired</span>
<span class="title expired">Expired</span>

<div class="border"></div>
<div class="effect"></div>

</body>

<script>
    add_years();
    add_months();

    set_update_drugs_candidates_url('{{ url_for("edit") }}');
    set_add_drug_url('{{ url_for("add_drug") }}');
    set_del_drug_url('{{ url_for("del_non_expired_drug") }}');
    set_del_expired_drug_url('{{ url_for("del_expired_drug") }}');

    function request_drugs(url, target_table) {
        $.ajax({
            url: url,
            type: "GET",
            data: {usr_id: tuser_id},
            dataType: 'html',
            success: function (response) {
                let drugs = JSON.parse(response);
                drugs.forEach(drug => {
                    add_drug_item(drug, target_table);
                });
            },
            error: function (xhr, textStatus, error) {
                console.error(error)
            }
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
        request_drugs("{{ url_for('non_expired_drugs') }}", 'non_expired');
        request_drugs("{{ url_for('expired_drugs') }}", 'expired');
    });

    close_transition_end();
</script>

</html>