<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table_item_slider.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_drug.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/drug_description.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/corousel.css')}}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"
            integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="https://telegram.org/js/telegram-web-app.js"></script>

    <script src="{{ url_for('static', filename='js/index.js')}}"></script>
    <script src="{{ url_for('static', filename='js/touch_slider.js')}}"></script>
    <script src="{{ url_for('static', filename='js/corousel.js')}}"></script>
    <script src="{{ url_for('static', filename='js/add_drug.js')}}"></script>
    <script src="{{ url_for('static', filename='js/iscroll.js')}}"></script>

</head>

<body>

<div id="content">
    <ul id="non_expired" class="accordion arrows">
        <input type="radio" name="accordion" id="acc-close"/>
    </ul>

    <ul id="expired" class="accordion arrows">
        <input type="radio" name="accordion" id="acc-close-expired"/>
    </ul>
</div>

<div id="box">

</div>

<input type="radio" id="one" name="buttons" checked onclick="updateValue(0);">
<input type="radio" id="two" name="buttons" onclick="updateValue(1);">
<label for="one" class="icons non_expired">
    <span class="glyphicon glyphicon-plus-sign"></span>
</label>
<label for="two" class="icons expired">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
</label>

<div id="body">

</div>

<div class="context_panel" id="add_drug_panel">
    <input type="radio" id="btnAddDrug" onclick="open_drug_window()"/>
    <label for="btnAddDrug" class="context_btn" id="iconAddDrug"><span class="glyphicon glyphicon-plus"></span></label>
</div>

<div class="context_panel" id="buy_drug_panel" hidden>
    <input type="radio" id="btnBuyDrug"/>
    <label for="btnBuyDrug" class="context_btn" id="iconBuyDrug">
        <!--<span class="glyphicon glyphicon-ruble"></span>-->
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart4"
             viewBox="0 0 16 16">
            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l.5 2H5V5zM6 5v2h2V5zm3 0v2h2V5zm3 0v2h1.36l.5-2zm1.11 3H12v2h.61zM11 8H9v2h2zM8 8H6v2h2zM5 8H3.89l.5 2H5zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
        </svg>
    </label>
</div>

<div id="control_panel">
    <div id="dialogAddDrug" class="closed">
        <section id="top_sect" class="second">
            <div class="drug_name_panel">
                <input id="medicine_name" class="form-control" data-i18n-key="name_of_drug" placeholder="Name of the medicine"/>
            </div>

            <div class="panel">
                <div id="years_carousel" class="carousel"
                     data-flickity='{ "wrapAround": true }'>
                </div>
            </div>

            <div class="panel">
                <div id="months_carousel" class="carousel"
                     data-flickity='{ "wrapAround": true }'>
                </div>
            </div>

            <div class="control_panel">
                <button id="btnAdd" onclick="add_drug()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="rgb(97, 218, 157)"
                         class="bi bi-check-lg" viewBox="0 0 16 16">
                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                    </svg>
                </button>
            </div>
        </section>
    </div>
</div>

<span class="title non_expired" data-i18n-key="non_expired">Non-expired</span>
<span class="title expired" data-i18n-key="expired">Expired</span>

<div class="border"></div>
<div class="effect"></div>

</body>

<script>
    add_years();
    add_months();

    set_update_drugs_candidates_url('{{ url_for("edit") }}');
    set_add_drug_url('{{ url_for("add_drug") }}');
    set_del_drug_url('{{ url_for("del_non_expired_drug") }}');
    set_del_expired_drug_url('{{ url_for("del_expired_drug") }}');

    function request_drugs(url, target_table) {
        $.ajax({
            url: url,
            type: "GET",
            data: {usr_id: tuser_id},
            dataType: 'html',
            success: function (response) {
                let drugs = JSON.parse(response);
                drugs.forEach(drug => {
                    //drug['title'] = 'аспирин аспирин аспирин аспирин аспирин аспирин аспирин аспирин аспирин аспирин аспирин аспирин аспирин аспирин аспирин аспирин аспирин аспирин аспирин аспирин аспирин аспирин аспирин аспирин аспирин аспирин аспирин аспирин аспирин аспирин аспирин аспирин аспирин аспирин аспирин '
                    add_drug_item(drug, target_table);
                    document.querySelectorAll("[data-i18n-key]").forEach(translateElement);
                });
            },
            error: function (xhr, textStatus, error) {
                console.error(error)
            }
        });
    }

    const locale = "ru";
    const translations = {
        "en": {
            "non_expired": "Non-expired",
            "expired": "Expired",
            "name_of_drug": "Name of the medicine",
            'January': 'January',
            'February': 'February',
            'March': 'March',
            'April': 'April',
            'May': 'May',
            'June': 'June',
            'July': 'July',
            'August': 'August',
            'September': 'September',
            'October': 'October',
            'November': 'November',
            'December': 'December',
        },
        "ru": {
            "non_expired": "Лекарства",
            "expired": "Просроченные",
            "name_of_drug": "Название лекарства",
            'January': 'Январь',
            'February': 'Февраль',
            'March': 'Март',
            'April': 'Апрель',
            'May': 'Май',
            'June': 'Июнь',
            'July': 'Июль',
            'August': 'Август',
            'September': 'Сентябрь',
            'October': 'Октябрь',
            'November': 'Ноябрь',
            'December': 'Декабрь',
        },
    };

    function translateElement(element) {
        const key = element.getAttribute("data-i18n-key");
        const translation = translations[locale][key];
        if (translation === undefined) {
            return;
        }
        if (element.placeholder) {
            element.placeholder = translation;
        }
        else {
            element.innerText = translation;
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        request_drugs("{{ url_for('non_expired_drugs') }}", 'non_expired');
        request_drugs("{{ url_for('expired_drugs') }}", 'expired');

        document.querySelectorAll("[data-i18n-key]").forEach(translateElement);
    });
    close_transition_end();
</script>

</html>