<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- prod -->
    <!--
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/touch_slider.css')}}"/>

    <script src="{{ url_for('static', filename='js/index.js')}}"></script>
    <script src="{{ url_for('static', filename='js/touch_slider.js')}}"></script>
    -->
    <!-- local -->
    <link rel="stylesheet" href="../static/css/index.css"/>
    <link rel="stylesheet" href="../static/css/list.css"/>
    <link rel="stylesheet" href="../static/css/touch_slider.css"/>

    <script src="../static/js/index.js"></script>
    <script src="../static/js/touch_slider.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>

<div id="content">

	<ul class="accordion arrows">

        <li class="swipe-box">

            <div class="drug__item">
                <div class="swipe-box__scroller">
                    <div class="swipe-box__item observe-item">
                      <div class="mail-action action--delete-left">
                          <span class="glyphicon glyphicon-trash"/>
                      </div>
                    </div>

                    <div class="swipe-box__item">
                        <input type="radio" name="accordion" id="cb1"/>
                        <section class="box">
                            <label class="box-title" for="cb1">
                                <span>Aspirin</span>
                                <br><span style="white-space: pre-line">December 2024</span>
                            </label>
                            <label class="box-close" for="acc-close"></label>
                            <div class="box-content">
                                Click on an item to open. Click on its header or the list header to close.
                            </div>
                        </section>
                    </div>

                    <div class="swipe-box__item observe-item">
                      <div class="mail-action action--delete-right">
                          <span class="glyphicon glyphicon-trash"/>
                      </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="swipe-box">

            <div class="drug__item">
                <div class="swipe-box__scroller">
                    <div class="swipe-box__item observe-item">
                      <div class="mail-action action--delete-left">
                          <span class="glyphicon glyphicon-trash"/>
                      </div>
                    </div>

                    <div class="swipe-box__item">
                        <input type="radio" name="accordion" id="cb2"/>
                        <section class="box">
                            <label class="box-title" for="cb2">
                                <span>Aspirin</span>
                                <br><span style="white-space: pre-line">December 2024</span>
                            </label>
                            <label class="box-close" for="acc-close"></label>
                            <div class="box-content">
                                Click on an item to open. Click on its header or the list header to close.
                            </div>
                        </section>
                    </div>

                    <div class="swipe-box__item observe-item">
                      <div class="mail-action action--delete-right">
                          <span class="glyphicon glyphicon-trash"/>
                      </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="swipe-box">

            <div class="drug__item">
                <div class="swipe-box__scroller">
                    <div class="swipe-box__item observe-item">
                      <div class="mail-action action--delete-left">
                          <span class="glyphicon glyphicon-trash"/>
                      </div>
                    </div>

                    <div class="swipe-box__item">
                        <input type="radio" name="accordion" id="cb3"/>
                        <section class="box">
                            <label class="box-title" for="cb3">
                                <span>Aspirin</span>
                                <br><span style="white-space: pre-line">December 2024</span>
                            </label>
                            <label class="box-close" for="acc-close"></label>
                            <div class="box-content">
                                Click on an item to open. Click on its header or the list header to close.
                            </div>
                        </section>
                    </div>

                    <div class="swipe-box__item observe-item">
                      <div class="mail-action action--delete-right">
                          <span class="glyphicon glyphicon-trash"/>
                      </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="swipe-box">

            <div class="drug__item">
                <div class="swipe-box__scroller">
                    <div class="swipe-box__item observe-item">
                      <div class="mail-action action--delete-left">
                          <span class="glyphicon glyphicon-trash"/>
                      </div>
                    </div>

                    <div class="swipe-box__item">
                        <input type="radio" name="accordion" id="cb4"/>
                        <section class="box">
                            <label class="box-title" for="cb4">
                                <span>Aspirin</span>
                                <br><span style="white-space: pre-line">December 2024</span>
                            </label>
                            <label class="box-close" for="acc-close"></label>
                            <div class="box-content">
                                Click on an item to open. Click on its header or the list header to close.
                            </div>
                        </section>
                    </div>

                    <div class="swipe-box__item observe-item">
                      <div class="mail-action action--delete-right">
                          <span class="glyphicon glyphicon-trash"/>
                      </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="swipe-box">

            <div class="drug__item">
                <div class="swipe-box__scroller">
                    <div class="swipe-box__item observe-item">
                      <div class="mail-action action--delete-left">
                          <span class="glyphicon glyphicon-trash"/>
                      </div>
                    </div>

                    <div class="swipe-box__item">
                        <input type="radio" name="accordion" id="cb5"/>
                        <section class="box">
                            <label class="box-title" for="cb5">
                                <span>Aspirin</span>
                                <br><span style="white-space: pre-line">December 2024</span>
                            </label>
                            <label class="box-close" for="acc-close"></label>
                            <div class="box-content">
                                Click on an item to open. Click on its header or the list header to close.
                            </div>
                        </section>
                    </div>

                    <div class="swipe-box__item observe-item">
                      <div class="mail-action action--delete-right">
                          <span class="glyphicon glyphicon-trash"/>
                      </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="swipe-box">

            <div class="drug__item">
                <div class="swipe-box__scroller">
                    <div class="swipe-box__item observe-item">
                      <div class="mail-action action--delete-left">
                          <span class="glyphicon glyphicon-trash"/>
                      </div>
                    </div>

                    <div class="swipe-box__item">
                        <input type="radio" name="accordion" id="cb6"/>
                        <section class="box">
                            <label class="box-title" for="cb6">
                                <span>Aspirin</span>
                                <br><span style="white-space: pre-line">December 2024</span>
                            </label>
                            <label class="box-close" for="acc-close"></label>
                            <div class="box-content">
                                Click on an item to open. Click on its header or the list header to close.
                            </div>
                        </section>
                    </div>

                    <div class="swipe-box__item observe-item">
                      <div class="mail-action action--delete-right">
                          <span class="glyphicon glyphicon-trash"/>
                      </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="swipe-box">

            <div class="drug__item">
                <div class="swipe-box__scroller">
                    <div class="swipe-box__item observe-item">
                      <div class="mail-action action--delete-left">
                          <span class="glyphicon glyphicon-trash"/>
                      </div>
                    </div>

                    <div class="swipe-box__item">
                        <input type="radio" name="accordion" id="cb7"/>
                        <section class="box">
                            <label class="box-title" for="cb7">
                                <span>Aspirin</span>
                                <br><span style="white-space: pre-line">December 2024</span>
                            </label>
                            <label class="box-close" for="acc-close"></label>
                            <div class="box-content">
                                Click on an item to open. Click on its header or the list header to close.
                            </div>
                        </section>
                    </div>

                    <div class="swipe-box__item observe-item">
                      <div class="mail-action action--delete-right">
                          <span class="glyphicon glyphicon-trash"/>
                      </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="swipe-box">

            <div class="drug__item">
                <div class="swipe-box__scroller">
                    <div class="swipe-box__item observe-item">
                      <div class="mail-action action--delete-left">
                          <span class="glyphicon glyphicon-trash"/>
                      </div>
                    </div>

                    <div class="swipe-box__item">
                        <input type="radio" name="accordion" id="cb8"/>
                        <section class="box">
                            <label class="box-title" for="cb8">
                                <span>Aspirin</span>
                                <br><span style="white-space: pre-line">December 2024</span>
                            </label>
                            <label class="box-close" for="acc-close"></label>
                            <div class="box-content">
                                Click on an item to open. Click on its header or the list header to close.
                            </div>
                        </section>
                    </div>

                    <div class="swipe-box__item observe-item">
                      <div class="mail-action action--delete-right">
                          <span class="glyphicon glyphicon-trash"/>
                      </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="swipe-box">

            <div class="drug__item">
                <div class="swipe-box__scroller">
                    <div class="swipe-box__item observe-item">
                      <div class="mail-action action--delete-left">
                          <span class="glyphicon glyphicon-trash"/>
                      </div>
                    </div>

                    <div class="swipe-box__item">
                        <input type="radio" name="accordion" id="cb9"/>
                        <section class="box">
                            <label class="box-title" for="cb9">
                                <span>Aspirin</span>
                                <br><span style="white-space: pre-line">December 2024</span>
                            </label>
                            <label class="box-close" for="acc-close"></label>
                            <div class="box-content">
                                Click on an item to open. Click on its header or the list header to close.
                            </div>
                        </section>
                    </div>

                    <div class="swipe-box__item observe-item">
                      <div class="mail-action action--delete-right">
                          <span class="glyphicon glyphicon-trash"/>
                      </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="swipe-box">

            <div class="drug__item">
                <div class="swipe-box__scroller">
                    <div class="swipe-box__item observe-item">
                      <div class="mail-action action--delete-left">
                          <span class="glyphicon glyphicon-trash"/>
                      </div>
                    </div>

                    <div class="swipe-box__item">
                        <input type="radio" name="accordion" id="cb10"/>
                        <section class="box">
                            <label class="box-title" for="cb10">
                                <span>Aspirin</span>
                                <br><span style="white-space: pre-line">December 2024</span>
                            </label>
                            <label class="box-close" for="acc-close"></label>
                            <div class="box-content">
                                Click on an item to open. Click on its header or the list header to close.
                            </div>
                        </section>
                    </div>

                    <div class="swipe-box__item observe-item">
                      <div class="mail-action action--delete-right">
                          <span class="glyphicon glyphicon-trash"/>
                      </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="swipe-box">

            <div class="drug__item">
                <div class="swipe-box__scroller">
                    <div class="swipe-box__item observe-item">
                      <div class="mail-action action--delete-left">
                          <span class="glyphicon glyphicon-trash"/>
                      </div>
                    </div>

                    <div class="swipe-box__item">
                        <input type="radio" name="accordion" id="cb11"/>
                        <section class="box">
                            <label class="box-title" for="cb11">
                                <span>Aspirin</span>
                                <br><span style="white-space: pre-line">December 2024</span>
                            </label>
                            <label class="box-close" for="acc-close"></label>
                            <div class="box-content">
                                Click on an item to open. Click on its header or the list header to close.
                            </div>
                        </section>
                    </div>

                    <div class="swipe-box__item observe-item">
                      <div class="mail-action action--delete-right">
                          <span class="glyphicon glyphicon-trash"/>
                      </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="swipe-box">

            <div class="drug__item">
                <div class="swipe-box__scroller">
                    <div class="swipe-box__item observe-item">
                      <div class="mail-action action--delete-left">
                          <span class="glyphicon glyphicon-trash"/>
                      </div>
                    </div>

                    <div class="swipe-box__item">
                        <input type="radio" name="accordion" id="cb12"/>
                        <section class="box">
                            <label class="box-title" for="cb12">
                                <span>Aspirin</span>
                                <br><span style="white-space: pre-line">December 2024</span>
                            </label>
                            <label class="box-close" for="acc-close"></label>
                            <div class="box-content">
                                Click on an item to open. Click on its header or the list header to close.
                            </div>
                        </section>
                    </div>

                    <div class="swipe-box__item observe-item">
                      <div class="mail-action action--delete-right">
                          <span class="glyphicon glyphicon-trash"/>
                      </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="swipe-box">

            <div class="drug__item">
                <div class="swipe-box__scroller">
                    <div class="swipe-box__item observe-item">
                      <div class="mail-action action--delete-left">
                          <span class="glyphicon glyphicon-trash"/>
                      </div>
                    </div>

                    <div class="swipe-box__item">
                        <input type="radio" name="accordion" id="cb13"/>
                        <section class="box">
                            <label class="box-title" for="cb13">
                                <span>Aspirin</span>
                                <br><span style="white-space: pre-line">December 2024</span>
                            </label>
                            <label class="box-close" for="acc-close"></label>
                            <div class="box-content">
                                Click on an item to open. Click on its header or the list header to close.
                            </div>
                        </section>
                    </div>

                    <div class="swipe-box__item observe-item">
                      <div class="mail-action action--delete-right">
                          <span class="glyphicon glyphicon-trash"/>
                      </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="swipe-box">

            <div class="drug__item">
                <div class="swipe-box__scroller">
                    <div class="swipe-box__item observe-item">
                      <div class="mail-action action--delete-left">
                          <span class="glyphicon glyphicon-trash"/>
                      </div>
                    </div>

                    <div class="swipe-box__item">
                        <input type="radio" name="accordion" id="cb14"/>
                        <section class="box">
                            <label class="box-title" for="cb14">
                                <span>Aspirin</span>
                                <br><span style="white-space: pre-line">December 2024</span>
                            </label>
                            <label class="box-close" for="acc-close"></label>
                            <div class="box-content">
                                Click on an item to open. Click on its header or the list header to close.
                            </div>
                        </section>
                    </div>

                    <div class="swipe-box__item observe-item">
                      <div class="mail-action action--delete-right">
                          <span class="glyphicon glyphicon-trash"/>
                      </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="swipe-box">

            <div class="drug__item">
                <div class="swipe-box__scroller">
                    <div class="swipe-box__item observe-item">
                      <div class="mail-action action--delete-left">
                          <span class="glyphicon glyphicon-trash"/>
                      </div>
                    </div>

                    <div class="swipe-box__item">
                        <input type="radio" name="accordion" id="cb15"/>
                        <section class="box">
                            <label class="box-title" for="cb15">
                                <span>Aspirin</span>
                                <br><span style="white-space: pre-line">December 2024</span>
                            </label>
                            <label class="box-close" for="acc-close"></label>
                            <div class="box-content">
                                Click on an item to open. Click on its header or the list header to close.
                            </div>
                        </section>
                    </div>

                    <div class="swipe-box__item observe-item">
                      <div class="mail-action action--delete-right">
                          <span class="glyphicon glyphicon-trash"/>
                      </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="swipe-box">

            <div class="drug__item">
                <div class="swipe-box__scroller">
                    <div class="swipe-box__item observe-item">
                      <div class="mail-action action--delete-left">
                          <span class="glyphicon glyphicon-trash"/>
                      </div>
                    </div>

                    <div class="swipe-box__item">
                        <input type="radio" name="accordion" id="cb16"/>
                        <section class="box">
                            <label class="box-title" for="cb16">
                                <span>Aspirin</span>
                                <br><span style="white-space: pre-line">December 2024</span>
                            </label>
                            <label class="box-close" for="acc-close"></label>
                            <div class="box-content">
                                Click on an item to open. Click on its header or the list header to close.
                            </div>
                        </section>
                    </div>

                    <div class="swipe-box__item observe-item">
                      <div class="mail-action action--delete-right">
                          <span class="glyphicon glyphicon-trash"/>
                      </div>
                    </div>
                </div>
            </div>
        </li>

		<input type="radio" name="accordion" id="acc-close" />
	</ul>

</div>

<div id="box">

</div>

<input type="radio" id="one" name="buttons" checked onclick="updateValue('one');">
<input type="radio" id="two" name="buttons" checked onclick="updateValue('two');">
<label for="one" class="icons non_expired"><span class="glyphicon glyphicon-plus-sign"></span></label>
<label for="two" class="icons expired"><span class="glyphicon glyphicon-exclamation-sign"></span></label>

<span class="title non_expired">Non-expired</span>
<span class="title expired">Expired</span>

<div class="border"></div>
<div class="effect"></div>

<div id="body">

</div>

</body>
</html>