<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

  <link rel="stylesheet" href="../static/css/touch_slider.css"/>
  <script src="../static/js/touch_slider.js"></script>
</head>

<body>
<h1>Mailbox: Swipe to archive/delete</h1>

<div class="mailbox">
  <div class="mailbox__item">

    <div class="swipe-box">
      <div class="swipe-box__scroller">
        <div class="swipe-box__item observe-item">
          <div></div>
        </div>

        <div class="swipe-box__item">
            A virtual high five and/or fist bump to you, Philipp, for some person just bought the following item after discovering it via your recommendation: Artist name, album name
        </div>

        <div class="swipe-box__item observe-item">
          <div class="mail-action mail-action--delete">Delete</div>
        </div>
      </div>
    </div>

  </div>

</div>

<h2>Notes</h2>

<ul>
  <li>This is meant for touch-based user interaction</li>
</ul>
</body>
</html>